.email {
  height: 90px;
}

.active-email {
  background: #CBF1FF;
}

.email__subject {
  font-family: 'Oswald', sans-serif;
  font-size: 100%;
  font-weight: bold;
  margin-bottom: 10px;
}

.email__body {
  font-size: 100%;
  font-family: 'PT Sans Narrow', sans-serif;
}
