{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6
  },
  "plugins": [
    "class-property"
  ],
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "no-unused-vars": ["error", { "vars": "local", "args": "none" }],
    "arrow-parens": ["error", "always"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-boolean-value": ["always"],
    "jsx-a11y/anchor-is-valid": ["always"],
    "no-case-declarations": 0
  }
}
